<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>

<div style="width: 100%;
        min-height: 1vh;
        font-family: 'Roboto', sans-serif;">
    <div style="width: 80%;
        padding-top: 24px;
        margin: 8px auto;">
        <p>Congratulations with registration, <b><%= locals.email %></b>, welcome to Prototype Company</p>
        <p style="margin-top: 8px">Date:  №<%= locals.date %></p>
    </div>
</div>

</body>
</html>